dl{
    display:table;
    border-collapse: collapse;
    width: 100%;
    background-image: url("../images/paper.png");
    background-size: repeat-y;
    
}
dl .head{
    display:table-row;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    background: #313131;
    ;
}
dl .head dt{
    font-size: 400%;
    color: rgb(245, 245, 245);
    text-shadow: 2px 2px 0px rgb(184, 184, 184) ;
    display: table-cell;
    padding-top:100px;
    padding:20px;
}
dl .vocab{
    border-bottom: 1px solid black;
    height: 100%;
    background: rgb(179, 179, 179);
    opacity: 0.9;
    
}
dl .vocab dt, dd{
    opacity: 1;
    color: black;
    display: table-cell;
}
dl .vocab dt{
    font-size: 300%;
    border-right: 1px solid black;
    width: 15rem;
    text-align: center;
    padding:10px;
}
dl .vocab dd{
    padding: 10px;
    font-size: 200%;
}
table tbody tr th {
    width: 12rem;
    height: 5rem;
    background:rgb(75, 75, 75);
    color: white;
    vertical-align: middle;
    text-decoration: underline;
    font-size: 170%;
    border: 2px solid white;
}
table{
    background-image: url("../images/paper.png");
}
table tbody tr td{
    background-color: grey;
    font-size: 160%;
    border: 2px solid black;
    color: white;
    border-collapse: collapse;
    border-spacing: 0px;
}
table tbody{
    border-collapse: collapse;
    border: black;
}
table thead tr th{
    width: 12rem;
    height: 5rem;
    background:rgb(75, 75, 75);
    color: white;
    vertical-align: middle;
    text-decoration: underline;
    font-size: 170%;
    border: 2px solid white;
}